.todo {
    border: 1px solid;
    padding: 5px;
    width: fit-content;
    margin: 10px 0;
}

.todos {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
}

form {
    margin-top: 10px;
}